body {
    background-color: rgb(21, 21, 21);
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

.portada {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.IndexBodyHeader {
    margin: 0;
    font-size: 90px;
    color: white;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.IndexBodyHeader h1 {
    font-weight: 200;
    margin: 0;
}

.Eslogan {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
}

.Eslogan h2 {
    font-weight: 300;
    margin: 0;
}

.Background {
    background-color: black;
    position: fixed;
    inset: 0;
    background-image: url(../images/background.jpg);
    z-index: -1;
    filter: blur(10px);
}